{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container-fluid">

   <div class="row" >
    <div class="col-md-12">
        <img src="{% static 'images\college.jpg' %}" alt="noimage" height="400px" width="100%">
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12">
<h6>The vision of the college is to help the students achieve academic excellence and play the role of socially responsible individuals by including social values.
All the efforts are directed towards the achievement of this vision.</h6>
    </div>
  </div>
</div>
{% endblock %}